{% load static %}
<div style="margin: 0">
    <div >
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <h4>Здравствуйте, {{ request.user.first_name }} {{ request.user.last_name }}.</h4>
        Ваш ИНН  {{ request.user.userpaininformation.inn }}. ОГРН: {{ request.user.userpaininformation.ogrn }}.
            ОКПО: {{ request.user.userpaininformation.okpo }}.
            Название предприятия: {{ request.user.userpaininformation.full_name }}.
            Адрес: {{ request.user.userpaininformation.legal_address }}.
            {% if request.user.userpaininformation.type == 'LEGAL' %}
            ОКТМО: {{ request.user.userpaininformation.oktmo }}.
                КПП: {{ request.user.userpaininformation.kpp }}.
                Директор: {{ request.user.userpaininformation.director }}.
            {% endif %}
        </li>
    </ul>
    </div>
    <div>
        <ul class="navbar-nav" style="margin: 0">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}" >
                <span class="text-bold">Выход</span></a>
            </a>
        </li>
    </ul>
    </div>
</div>
