{% load static %}
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        {% comment %}<li class="nav-item d-none d-sm-inline-block bg-success">
            <a href="{% url 'index' %}" class="nav-link"><span class="text-bold text-white">BP Services</span></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{% url 'sales' %}" class="nav-link"><span class="text-bold">Sales</span></a>
        </li>{% endcomment %}
        <li class="nav-item d-none d-sm-inline-block">
            <span class="text-bold">Здравствуйте, {{ request.user.first_name }} {{ request.user.last_name }}.
        Ваш ИНН  {{ request.user.inn }}</span></a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}" >
                <span class="text-bold">Log Out</span></a>
            </a>
        </li>
    </ul>
</nav>